<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= peliculas.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= peliculas.title %> </h1>    
    <br>
    <p>RATING: <%= peliculas.rating %> </p>
    <p>AWARDS: <%= peliculas.awards %> </p>
    <p>LENGTH: <%= peliculas.length + ' min'%> </p>
    <p>RELEASE DATE: <%= peliculas.release_date %> </p>

</body>
</html>